.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  padding: 5px;
}

.App-logo-react {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  margin: auto 0px;
  padding: 10px;
}

.table {
  width: 80%;
  padding: 0 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}